.dashboard-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
  padding: 20px;
}

.dashboard-container {
  background: rgba(0, 0, 0, 0.8);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 1200px;
  min-height: 80vh;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: bold;
}

.table-container {
  width: 100%;
  margin-top: 20px;
}
